# Intellij project files
.idea/
.DS_Store
yarn-error.log

# Others
##下面的注释下载后去掉
bin/
database/
node_modules/
npm-debug.log
#/public/uploads/*


coverage/
#config.js
nodemon.json

/config.js
/public/upload/
